@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #__next {
    height: 100%;
  }

  .main {
    height: calc(100% - 4.5rem);
  }

  .sidepanel {
    width: calc(100vw - 6rem);
  }
}
